.btn,
.pause,
.play {
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 6px 4px 4px #ccc;
    color: black;
}

.play,
.pause,
.detune {
    color: white;
}

.play {
    background-color: #4040a1;
}

.pause {
    background-color: #c94c4c;
}

.detune {
    background-color: #ffef96;
}